In [1]:
#Import file & resources

import pandas as pd
import numpy as np

In [2]:
#Read file into df
df_accidents = pd.read_csv("Resources\Accidents0515.csv", low_memory=False)

In [3]:
df_casualties = pd.read_csv("Resources\Casualties0515.csv", low_memory=False)

In [4]:
df_vehicles = pd.read_csv("Resources\Vehicles0515.csv", low_memory=False)

In [8]:
df_casualties

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,x
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1,NaN
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1,NaN
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1,NaN
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1,NaN
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2402904,201597UA71412,2,2,2,2,10,2,3,0,0,2,0,0,9,1,-1.0
2402905,201597UA71412,2,3,1,1,46,8,3,0,0,0,0,0,9,1,-1.0
2402906,201597UA71510,1,1,3,2,52,8,3,6,9,0,0,0,0,1,-1.0
2402907,201597UA71610,2,1,1,2,42,7,3,0,0,0,0,0,9,-1,-1.0
2402908,201597UA71611,1,1,1,1,37,7,2,0,0,0,0,0,9,2,-1.0

In [10]:
df_casualties["Car_Passenger"].value_counts()

 0    1904469
 1     319866
 2     177794
-1        780
Name: Car_Passenger, dtype: int64

In [12]:
#df_notna = df[df['numberreviews'].notna()]
df_accidents = df_accidents[df_accidents['Accident_Severity'] != -1]

In [5]:
df_accidents

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780648,2015984139115,312087.0,570791.0,-3.376671,55.023855,98,3,3,1,11/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
1780649,2015984139715,320671.0,569791.0,-3.242159,55.016316,98,3,2,1,02/12/2015,...,0,0,1,1,2,0,0,2,1,NaN
1780650,2015984140215,311731.0,586343.0,-3.387067,55.163502,98,2,1,4,23/12/2015,...,0,0,6,4,2,0,0,2,1,NaN
1780651,2015984140515,328273.0,570137.0,-3.123385,55.020580,98,3,3,3,26/12/2015,...,0,0,1,2,2,0,0,2,1,NaN
1780652,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,0,0,6,3,4,0,0,2,1,NaN

In [5]:
df_vehicles

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,x
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,15,2,74,10,-1,-1,-1,7,1,NaN
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,42,7,8268,2,3,-1,-1,NaN
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,35,6,8300,2,5,2,1,NaN
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,15,1,62,9,1762,1,6,1,1,NaN
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,15,2,49,8,1769,1,4,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3262265,2015984141415,9,9,0,18,0,0,1,0,0,...,6,1,57,9,1242,1,1,-1,1,-1.0
3262266,2015984141415,10,9,0,18,0,0,1,0,1,...,6,1,19,4,1422,2,-1,-1,2,-1.0
3262267,2015984141415,11,9,0,18,0,0,1,0,1,...,6,1,-1,-1,1596,1,5,-1,1,-1.0
3262268,2015984141415,12,9,0,18,0,0,1,0,0,...,6,1,29,6,1596,1,15,-1,3,-1.0
3262269,2015984141415,13,9,0,18,0,0,0,0,5,...,6,2,17,4,1199,1,12,-1,1,-1.0

In [33]:
df_accidents_withDriverData = pd.merge(df_accidents, df_casualties.loc[df_casualties["Casualty_Class"] == 1][["Accident_Index","Age_of_Casualty","Sex_of_Casualty","Casualty_Severity"]], how='inner', left_on='Accident_Index', right_on='Accident_Index')

In [34]:
df_accidents_withDriverData

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Age_of_Casualty,Sex_of_Casualty,Casualty_Severity
0,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,1,0,0,1,1,E01002857,62,1,3
1,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,1,2,0,0,1,1,E01002863,49,1,3
2,200501BS00006,524770.0,181160.0,-0.203238,51.515540,1,3,2,1,11/01/2005,...,2,2,6,0,1,1,E01002832,30,2,3
3,200501BS00007,524220.0,180830.0,-0.211277,51.512695,1,3,2,1,13/01/2005,...,1,1,0,0,1,1,E01002875,31,1,3
4,200501BS00010,527350.0,177650.0,-0.167342,51.483420,1,3,2,2,15/01/2005,...,1,1,0,0,1,1,E01002900,35,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518803,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,3,4,0,0,2,1,NaN,36,1,3
1518804,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,3,4,0,0,2,1,NaN,25,1,3
1518805,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,3,4,0,0,2,1,NaN,19,1,3
1518806,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,3,4,0,0,2,1,NaN,29,1,3
1518807,2015984141415,314050.0,579638.0,-3.348646,55.103676,98,3,13,7,31/12/2015,...,3,4,0,0,2,1,NaN,17,2,3

In [35]:
df_accidents_withDriverData = df_accidents_withDriverData.rename(columns={'Age_of_Casualty': 'Age_of_Driver', 'Sex_of_Casualty': 'Sex_of_Driver', 'Casualty_Severity': 'Driver_Casualty_Severity'})

In [41]:
Phase1Columns = ['Accident_Index',
'Accident_Severity',
'Number_of_Vehicles',
'Number_of_Casualties',
'Date',
'Day_of_Week',
'Time',
'Road_Type',
'Speed_limit',
'Light_Conditions',
'Weather_Conditions',
'Road_Surface_Conditions',
'Special_Conditions_at_Site',
'Carriageway_Hazards',
'Urban_or_Rural_Area',
'Age_of_Driver',
'Sex_of_Driver',
'Driver_Casualty_Severity']
df_accidents_withDriverData_Phase1 = df_accidents_withDriverData[Phase1Columns]

In [42]:
df_accidents_withDriverData_Phase1

,Accident_Index,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Road_Type,Speed_limit,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Age_of_Driver,Sex_of_Driver,Driver_Casualty_Severity
0,200501BS00003,3,2,1,06/01/2005,5,00:15,6,30,4,1,1,0,0,1,62,1,3
1,200501BS00005,3,1,1,10/01/2005,2,21:13,6,30,7,1,2,0,0,1,49,1,3
2,200501BS00006,3,2,1,11/01/2005,3,12:40,6,30,1,2,2,6,0,1,30,2,3
3,200501BS00007,3,2,1,13/01/2005,5,20:40,6,30,4,1,1,0,0,1,31,1,3
4,200501BS00010,3,2,2,15/01/2005,7,22:43,6,30,4,1,1,0,0,1,35,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518803,2015984141415,3,13,7,31/12/2015,5,16:37,3,70,6,3,4,0,0,2,36,1,3
1518804,2015984141415,3,13,7,31/12/2015,5,16:37,3,70,6,3,4,0,0,2,25,1,3
1518805,2015984141415,3,13,7,31/12/2015,5,16:37,3,70,6,3,4,0,0,2,19,1,3
1518806,2015984141415,3,13,7,31/12/2015,5,16:37,3,70,6,3,4,0,0,2,29,1,3
1518807,2015984141415,3,13,7,31/12/2015,5,16:37,3,70,6,3,4,0,0,2,17,2,3

In [43]:
df_accidents_withDriverData_Phase1.to_csv(".\cleaned.csv", index=False)